name: Build WASM & deploy webpage

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust + WASM target
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Build WASM binary
        run: cargo build --release --target wasm32-unknown-unknown

      - name: Copy WASM to web folder
        run: cp target/wasm32-unknown-unknown/release/*.wasm web/rusty-particles.wasm

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: web

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
